<h1>Luciana</h1>

<h2>Array Original</h2>
<ul>
  <li *ngFor="let carro of carros">
    Carro : {{carro.marca | uppercase}} {{carro.modelo}} {{carro.color}}
  </li>
</ul>


<h2>Array Filter</h2>
<ul>
  <li *ngFor="let carro of carrosMarcaIniciadosComLetraF">
    Carro : {{carro.marca | uppercase}} {{carro.modelo}} {{carro.color}}
  </li>
</ul>


<h2>Array Map</h2>
<ul>
  <li *ngFor="let carro of carrosModeloMais10">
    Carro : {{carro.marca | uppercase}} {{carro.modelo}} {{carro.color}}
  </li>
</ul>


<h2>Array Reduce</h2>
<h2>Carros Soma: {{somaValor}}</h2>